node_modules
vscode
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/log

.idea

resources/public/img/emoji/*
resources/styles/bootstrap/*
resources/styles/.vscode/*

